# Python
.venv/
__pycache__/
*.pyc

# Environment
.env

# Database
chroma_db/

# Cloned repositories
repositories/

# Node
node_modules/
dist/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

.ipynb_checkpoints/
.pytest_cache/
.coverage