# Virtual Environment
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environment variables
.env

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Build artifacts
build/
dist/
*.egg-info/

# Ignore cloned repositories
repositories/